
@{
    Layout = null;
}

<footer class="footer">
	<div class="container-fluid">
		<div class="copyright ml-auto">
			@DateTime.Now.Year | made with <i class="la la-heart heart text-danger"></i> by <a href="https://github.com/ParanovaFactory?tab=repositories">SADIK BERKAY KARADUMAN</a>
		</div>
	</div>
</footer>
