@model List<ResultSocialMediaDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Social Media List</div>
					</div>
					<div class="card-body">
						<div class="card-sub">
							You can view, edit, delete or add new social medias from here.
						</div>
						<table class="table mt-3">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Title</th>
									<th scope="col">Operations</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td>@item.SocialMediaId</td>
										<td>@item.SocialMediaTitle</td>
										<td>
											<a href="/Admin/SocialMedia/Update/@item.SocialMediaId" class="btn btn-outline-warning">Update</a>
											<a href="/Admin/SocialMedia/Delete/@item.SocialMediaId" class="btn btn-outline-danger">Delete</a>
										</td>
									</tr>
								}
							</tbody>
						</table>
						<br />
						<a href="/Admin/SocialMedia/Create" class="btn btn-outline-info">Add Social Media</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


