@model List<ResultDiscountDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Discount List</div>
					</div>
					<div class="card-body">
						<div class="card-sub">
							You can view, edit, delete or add new discount from here.
						</div>
						<table class="table mt-3">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Title</th>
									<th scope="col">Amount</th>
									<th scope="col">Operations</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td>@item.DiscountId</td>
										<td>@item.DiscountTitle</td>
										<td>@item.DiscountAmount</td>
										<td>
											<a href="/Admin/Discount/Update/@item.DiscountId" class="btn btn-outline-warning">Update</a>
											<a href="/Admin/Discount/Delete/@item.DiscountId" class="btn btn-outline-danger">Delete</a>
											<a href="/Admin/Discount/Details/@item.DiscountId" class="btn btn-outline-dark">Detail</a>
											<a href="/Admin/Discount/StatusPassive/@item.DiscountId" class="btn btn-outline-dark">Passive</a>
											<a href="/Admin/Discount/StatusActive/@item.DiscountId" class="btn btn-outline-dark">Active</a>
										</td>
									</tr>
								}
							</tbody>
						</table>
						<br />
						<a href="/Admin/Discount/Create" class="btn btn-outline-info">Add Discount</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



