@model CreateBookingDto

@{
    Layout = null;
}

<!DOCTYPE html>
<html>

    @await Component.InvokeAsync("_UILayoutHeadComponentPartial")

<body class="sub_page">

    @await Component.InvokeAsync("_UILayoutMenuNavbarCompnenetPartial")

    <section class="book_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>
                    Book A Table
                </h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form_container">
                        <form method="post">
                            <div>
                                <input type="text" asp-for="BookingName" class="form-control" placeholder="Your Name" />
                                <span asp-validation-for="BookingName" class="text-danger"></span>
                            </div>
                            <div>
                                <input type="text" asp-for="BookingPhone" class="form-control" placeholder="Phone Number" />
                                <span asp-validation-for="BookingPhone" class="text-danger"></span>
                            </div>
                            <div>
                                <input type="email" asp-for="BookingMail" class="form-control" placeholder="Your Email" />
                                <span asp-validation-for="BookingMail" class="text-danger"></span>
                            </div>
                            <div>
                                <input type="number" asp-for="BookingPersonCount" class="form-control" placeholder="How many persons?" />
                                <span asp-validation-for="BookingPersonCount" class="text-danger"></span>
                            </div>
                            <div>
                                <input type="date" asp-for="BookingDate" class="form-control">
                                <span asp-validation-for="BookingDate" class="text-danger"></span>
                            </div>
                            <div class="btn_box">
                                <button>
                                    Book Now
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="map_container ">
                        <iframe src="@ViewBag.location" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @await Component.InvokeAsync("_UILayoutFooterComponentPartial")

    @await Component.InvokeAsync("_UILayoutScriptComponentPartial")

</body>

</html>
