@model List<ResultAboutDto>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

    @await Component.InvokeAsync("_UILayoutHeadComponentPartial")

<body class="sub_page">

    @await Component.InvokeAsync("_UILayoutMenuNavbarCompnenetPartial")

    <section class="about_section layout_padding">
        <div class="container  ">
            @foreach (var item in Model)
            {
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="img-box">
                            <img src="@item.AboutImageUrl" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="detail-box">
                            <div class="heading_container">
                                <h2>
                                    @item.AboutTitle
                                </h2>
                            </div>
                            <p>
                                @item.AboutDescription
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>

    @await Component.InvokeAsync("_UILayoutFooterComponentPartial")

    @await Component.InvokeAsync("_UILayoutScriptComponentPartial")

</body>

</html>
