@model LoginDto
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Restorant Admin Login</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="~/colorlib-regform-32/css/nunito-font.css">
	<!-- Main Style Css -->
	<link rel="stylesheet" href="~/colorlib-regform-32/css/style.css" />
</head>
<body class="form-v6">
	<div class="page-content">
		<div class="form-v6-content">
			<div class="form-left">
				<img src="https://i.pinimg.com/736x/de/46/ef/de46ef982efb3131b4dee36516e74764.jpg" alt="form" style="width:600px; height:700px">
			</div>
			<form class="form-detail" method="post">
				<h2>Giriş Formu</h2>
				<div class="form-row">
					<input type="text" id="full-name" asp-for="Username" class="input-text" placeholder="Username" required>
				</div>
				<div class="form-row">
					<input type="password" id="password" class="input-text" placeholder="Password" asp-for="Password" required>
				</div>

				<button class="btn btn-dark">Login</button>
			</form>
		</div>
	</div>
</body>
</html>
