@model CreateMessageDto

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<section class="book_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Send A Message To Us
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form_container">
                    <form method="post" asp-action="SendMessage" asp-controller="ShowCase">
                        <div>
                            <input type="text" asp-for="Name" class="form-control" placeholder="Your Name" />
                        </div>
                        <div>
                            <input type="text" asp-for="Surname" class="form-control" placeholder="Your Surname" />
                        </div>
                        <div>
                            <input type="email" asp-for="Mail" class="form-control" placeholder="Your Email" />
                        </div>
                        <div>
                            <input type="text" asp-for="Phone" class="form-control" placeholder="Phone Number" />
                        </div>
                        <div>
                            <input type="text" asp-for="Subject" class="form-control" placeholder="Subject" />
                        </div>
                        <div>
                            <textarea asp-for="MessageContent" rows="10" class="form-control" placeholder="Message"></textarea>
                        </div>
                        <div class="btn_box">
                            <button>
                                SEND
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="map_container ">
                    <div id="googleMap"></div>
                </div>
            </div>
        </div>
    </div>
</section>